
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'depression_app/css/about.css' %}">
    </head>
    <body>
        <div class="screen">
            <div class="about_us">
                <div class="empty"></div>
                <div class="about">
                    <h1>About us</h1>
                </div>
                <div class="us">
                    <p>   Our depression testing tool is designed to provide you with an initial assessment of your depressive symptoms.
                         It consists of a series of questions that will help gauge your emotional well-being and provide an indication of whether you may be experiencing symptoms of depression.
                        </p>
                        <p>Please keep in mind that the results of this test are not a substitute for professional diagnosis or medical advice. 
                            If you have concerns about your mental health or suspect you may be experiencing depression, we strongly encourage you to seek guidance from a qualified healthcare professional.
                        </p>
                        <p>Our team is committed to creating a safe and supportive environment for all users. 
                            We prioritize user privacy and ensure that any personal information you provide during the testing process is handled securely and confidentially.</p>
                </div>
                
            </div>
            <div class="picture">
                <img src= "{% static 'depression_app/images/pic2.png' %}" alt="logo">
            </div>

        </div>
        

    </body>
</html>